<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvrWUN1DEnVhjW-AKqJY2v1jZXr2R63iI</string>
	<key>GCM_SENDER_ID</key>
	<string>149137203875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycaryourcar</string>
	<key>PROJECT_ID</key>
	<string>mycaryourcar-d1d0c</string>
	<key>STORAGE_BUCKET</key>
	<string>mycaryourcar-d1d0c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:149137203875:ios:91638223dd5822a51a5516</string>
</dict>
</plist>